// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #000000;

// Primary/body text
$mainFont: "Ancizar Sans Regular", "Lato", sans-serif;
$mainFontSize: 30px;
$mainColor: #eee;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Ancizar Sans Regular", Impact, sans-serif;
$headingColor: #eee;
$headingLineHeight: 1;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1em;

$codeFont: monospace;

// Links and actions
$linkColor: #13daec;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #ff5e99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
    background: $backgroundColor;
}
